---
- name: Install Docker
  apt: 
    name: docker.io
    state: present

- name: Start and Enable Docker
  service:
    name: docker
    state: started
    enabled: yes

- name: Add Ubuntu user to docker group
  become: yes
  user: 
    name: ubuntu 
    groups: docker
    append: yes

- name: Reset connection to apply group changes
  meta: reset_connection
