apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-deployment
  namespace: ivolve
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-web-app
  template:
    metadata:
      labels:
        app: my-web-app
    spec:
      containers:
      - name: nginx-container
        image: nouraabdelnabi/finalproject:11
        ports:
        - containerPort: 5000

