apiVersion: v1
kind: Service
metadata:
  name: my-app-service
  namespace: ivolve
spec:
  selector:
    app: my-web-app
  ports:
    - protocol: TCP
      port: 80      
      targetPort: 5000
      nodePort: 30008 
  type: NodePort


